[Unit]
Description=Catbus Directory Server

[Service]
Type=simple
User=catbus
WorkingDirectory=/var/log/chromatron
ExecStart=/usr/local/bin/catbus_directory catbus_directory.log

[Install]
WantedBy=multi-user.target